@(title: &str, routes: &Vec<(Prefix, Vec<RouteDetails>)>)

@{
    let max_nlri = 1000;
    let cnt = if routes.len() > max_nlri {
        format!(
            "(showing first {max_nlri}/{} prefixes ({} routes))",
            routes.len(),
            routes.iter().take(max_nlri)
                .map(|(_nlri, routes2)| routes2.len()).sum::<usize>()
        )
    } else {
        format!(
            "({}/{} prefixes/routes)",
            routes.len(),
            routes.iter()
                .map(|(_nlri, routes2)| routes2.len()).sum::<usize>()
        )
    };
    
}
<h2>@title @cnt</h2>
<table>
    <tr>
        <th>prefix</th>
        <th>source</th>
        <th>peer&nbsp;ASN</th>
        <th>origin&nbsp;ASN</th>
        <th>as_path</th>
        <th>communities</th>
    </tr>
    @for (nlri, routes2) in routes.iter().take(max_nlri) {
        @for details in routes2.iter() {
        @{
            let RouteDetails {bmp_id, bmp_name, peer_asn, origin_asn, as_path, communities} = details;
        }
        <tr>
            <td><a href="/routes/@nlri">@nlri</a></td>
            <td>
                @if let Some(bmp_id) = bmp_id {
                <a href="/bmp/@bmp_id">
                @if bmp_name != "" { @bmp_name } else { bmp-@bmp_id }
                </a>
                }
            </td>
            <td><a href="/routes/peer_asn/@peer_asn">@peer_asn</a></td>
            <td>@origin_asn</td>
            <td>@as_path</td>
            <td>@communities</td>
        </tr>
        }
    }
</table>
