@(bgp_sessions: &BTreeMap<(Asn, IpAddr), Vec<(IngressId, IngressInfo)>>)

<table border="1px">
    @{
    let mut last_asn = Asn::from_u32(0);
    }
    @for ((asn, addr), sessions) in bgp_sessions.iter() {
    <tr>
        <td> @if asn != &last_asn {
            <a href="/routes/peer_asn/@asn">@asn</a>
            }</td>
        <td><a href="/routes/peer_ip/@addr">@addr</a></td>
        <td>
            @for (bgp_ingress_id, bgp_info) in sessions {
            @#(
            bgp_info.peer_rib_type.map(|e| 
            format!("<a href=\"/routes/{bgp_ingress_id}\">{e}</a>")
            )
            .unwrap_or("no-rib-type (unexpected, bug?)".into())
            )
            }
        </td>
    </tr>
    @{ last_asn = *asn; }
    }
    
</table>
