[package]
name = "rotonda"
version = "0.0.1"
authors = ["NLnet Labs <routing-team@nlnetlabs.nl>"]
description = "A modular analytical BGP Engine"
documentation = "https://docs.rs/rotonda/"
homepage = "https://nlnetlabs.nl/projects/routing/rotonda/"
repository = "https://github.com/NLnetLabs/rotonda/"
keywords = ["routing", "bgp"]
categories = ["network-programming"]
license = "MPL-2.0"
edition = "2021"
rust-version = "1.65"

[dependencies]
arc-swap           = "^1.5"
chrono             = "^0.4"
clap               = { version = "^4.4", features = ["cargo"] }
crossbeam-utils    = "^0.8"
fern               = "^0.6"
futures            = "^0.3"
hyper              = { version = "^0.14", features = ["server", "stream"] }
log                = "^0.4"
log-reroute        = "^0.1"
pin-project-lite   = "^0.2"
rand               = "^0.8"
reqwest            = { version = "^0.11", default-features = false }
routecore          = { version = "0.4.0-dev", features = ["bgp", "bmp", "serde"], git = "https://github.com/NLnetLabs/routecore.git", branch = "compose-messages-nlri-v2" }
rotonda-fsm        = { version = "0.1.0-dev", git = "https://github.com/NLnetLabs/rotonda-fsm.git" }
sanitise-file-name = "^1.0"
serde              = { version = "^1.0", features = ["derive", "rc"] }
serde_json         = { version = "^1.0", features = ["preserve_order"] }
slab               = "^0.4"
tokio              = { version = "^1.23", features = ["fs", "io-util", "macros", "net", "rt", "rt-multi-thread", "signal", "sync", "test-util", "time", "tracing"] }
toml               = "^0.8"
url                = { version = "^2.2", features = ["serde"] }

# Dependencies specifically used by the BGP/BMP related modifications to the original RTRTR base
allocator-api2     = "^0.2"
assert-json-diff   = "^2.0"
async-trait        = "^0.1"
atomic_enum        = "^0.2.0"
flate2             = { version = "^1.0", optional = true }
anyhow             = "^1.0"
bytes              = { version = "1.1.0" }
const_format       = "^0.2"
hex-slice          = "^0.1"
hash_hasher        = "^2.0"
hashbrown          = "^0.14"
html-escape        = { version = "^0.2", optional = true }
indoc              = "^1.0"
layout-rs          = { version = "^0.1", optional = true }
mqtt               = { version = "0.18.0", package = "rumqttc", default-features = false }
non-empty-vec      = { version = "^0.2", features = ["serde"]}
percent-encoding   = "^2.2"
roto               = { version = "0.1.0", git = "https://github.com/NLnetLabs/roto.git", branch = "main" }
rotonda-store      = { version = "0.3.0-pre.3", git = "https://github.com/NLnetLabs/rotonda-store.git", branch = "compose-messages-nlri-v2" }
# roto               = { version = "0.1.0", path = "../roto" }
# rotonda-store      = { version = "0.3.0-pre.3", path = "../rotonda-store" }
serde_with         = "^3"
smallvec           = { version = "^1.10", features = ["const_generics", "const_new", "union"] }
tokio-metrics      = "^0.2"
uuid               = { version = "^1.1", features = ["v4", "fast-rng"] }

[target.'cfg(unix)'.dependencies]
syslog             = "^6.0"

[dev-dependencies]
hex                = "^0.4"
env_logger         = "^0.10"
prometheus-parse   = "^0.2"
reqwest            = { version = "^0.11", default-features = false, features = ["json"] }
rumqttd            = { version = "^0.17.0", default-features = false }
serde_json         = "^1.0"

[profile.release]
strip = true

[features]
default = ["config-graph", "router-list", "http-api-gzip"]

# Enable the /routers/ HTML router list endpoint
router-list = ["html-escape"]

# Enable GZIP compression of the HTTP /metrics response
http-api-gzip = ["flate2"]

# Enable the /status/graph config SVG graph endpoint
config-graph = ["layout-rs"]
