@use "Template"
@use "components/SessionTable";

<Template title={BMP overview @self.router}>
    
    <table>
    <tr>
        <td>IP address</td>
        <td>@self.router.info.remote_addr.alt("not found, bug?")</td>
    </tr>
    <tr>
        <td>sysName</td>
        <td>@self.router.info.name.alt("(no sysName/hostname provided by this router)")</td>
    </tr>
    <tr>
        <td>sysDesc</td>
        <td>@self.router.info.desc.alt("(no sysDesc provided by this router)")</td>
    </tr>
    </table>
    <h2>Compare with other routers</h2>
    <ul>
        @for other in &self.other_routers {
        <li>vs <a href="/peers/diff/@self.router.id/@other.id">@other</a>
            (@other.info.remote_addr.alt(""))
        </li>
        }
    </ul>

    <h2>Monitored sessions</h2>
    <SessionTable bgp_sessions=@&self.bgp_sessions/>
</Template>

