@use "Navigation"

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rotonda WebUI</title>
</head>
<body>
    <div class="container">
        <nav>
        <Navigation />
        </nav>
        <main>
            <table border="1px">
                <tr><th>BMP</th></tr>
                @for (ingress_id, ingress_info) in self.bmp_routers.iter() {
                <tr>
                    <td>@ingress_id</td>
                    <td>@(or!(ingress_info.remote_addr, ""))</td>
                    <td>@(or!(ingress_info.name, ""))</td>
                </tr>
                }
            </table>

            <table border="1px">
                <tr><th colspan="4">BMP with monitored BGP sessions</th></tr>
                @for (bmp_id, (bmp_info, bgp_sessions)) in self.bmp_tree.iter() {
                <tr>
                    <th><a href="/bmp/@bmp_id">@bmp_id</a></th>
                    <th>@(or!(bmp_info.remote_addr, ""))</th>
                    <th><a href="/bmp/@bmp_id">@(or!(bmp_info.name, format!("__unnamed-bmp-{bmp_id}")))</a></th>
                    <th>@(or!(bmp_info.desc, ""))</th>
                </tr>
                    @{
                        let mut last_asn = Asn::from_u32(0);
                    }
                    @for ((asn, addr), sessions) in bgp_sessions.iter() {
                        <tr>
                            <td></td>
                            <td> @if asn != &last_asn {
                                <a href="/routes/peer_asn/@asn">@asn</a>
                            }</td>
                            <td><a href="/routes/peer_ip/@addr">@addr</a></td>
                            <td>
                            @for (bgp_ingress_id, bgp_info) in sessions {
                                @#(
                                    bgp_info.peer_rib_type.map(|e| 
                                    format!("<a href=\"/routes/{bgp_ingress_id}\">{e}</a>")
                                )
                                .unwrap_or("no-rib-type (unexpected, bug?)".into())
                                )
                            }
                            </td>
                        </tr>
                        @{ last_asn = *asn; }
                    }
                }
            </table>


            <table border="1px">
                <tr><th>BGP</th></tr>
                @for (ingress_id, ip, asn) in self.bgp_routers.iter() {
                <tr>
                    <td>@ingress_id</td>
                    <td>@(or!(ip, ""))</td>
                    <td>@(or!(asn, ""))</td>
                </tr>
                }
            </table>
        </main>
    </div>
</body>
</html>
