@use "Navigation"
@use "components/SessionTable"

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rotonda WebUI</title>
</head>
<body>
    <div class="container">
        <nav>
        <Navigation />
        </nav>
        <main>
            <h2>BMP: @self.bmp_routers.len() connections</h2>
            @for (bmp_id, (bmp_info, bgp_sessions)) in self.bmp_tree.iter() {
                @{
                    let bgp_session_cnt = bgp_sessions.len();
                    let ribview_cnt: usize = bgp_sessions.values().map(|rvs| rvs.len()).sum();
                }
                <h3>@#bmp_details(&BmpRouter::new(*bmp_id, bmp_info.clone())) (@bmp_info.remote_addr.alt("")): @bgp_session_cnt/@ribview_cnt sessions/ribviews</h3>
                <h4>@bmp_info.desc.alt("")</h4>
                <SessionTable bgp_sessions=@bgp_sessions />
            }

            <table border="1px">
                <tr><th>BGP</th></tr>
                @for (ingress_id, ip, asn) in self.bgp_routers.iter() {
                <tr>
                    <td>@ingress_id</td>
                    <td>@ip.alt("")</td>
                    <td>@asn.alt("")</td>
                </tr>
                }
            </table>
        </main>
    </div>
</body>
</html>
