@use "Template"

<Template title="Peers overview">

<table>
    <tr>
        <th>asn</th>
        <th>addr</th>
        <th>rib view</th>
        <th># of routes</th>
        <th>comm</th>
        <th>ext comm</th>
        <th>large comm</th>
    </tr>
    @{
        let mut last_asn = Asn::from_u32(0);
        let mut last_ip = "0.0.0.0".parse().unwrap();
    }
    @for (asn, addr, ribview, ingress_id, routecnt, attrs) in &self.peers { 
    <tr>
        <td>@if last_asn != *asn { <a href="/routes/peer_asn/@asn">@asn</a> }</td>
        <td>@if last_ip != *addr { <a href="/routes/peer_ip/@addr">@addr</a> }</td>
        <td><a href="/routes/@ingress_id">@ribview</a></td>
        <td>@routecnt</td>
        <td>@if *attrs & ObservedAttributes::COMMUNITIES  { x } </td>
        <td>@if *attrs & ObservedAttributes::EXT_COMMUNITIES  { x } </td>
        <td>@if *attrs & ObservedAttributes::LARGE_COMMUNITIES  { x } </td>
    </tr>
    @{
        last_asn = *asn;
        last_ip = *addr;
    }

    }
</table>

</Template>
